################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs
/Pedido/.vs
/Pedido/PedidoLibrary/bin
/Pedido/PedidoLibrary/obj
/Pedido/PedidoLibrary.UnitTests/bin
/Pedido/PedidoLibrary.UnitTests/obj
/Pedido/PedidoLibrary.IntegrationTests/bin
/Pedido/PedidoLibrary.IntegrationTests/obj